<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="classpath:application.properties" system-properties-mode="ENVIRONMENT"/>

	<context:component-scan base-package="com.spring.core" />



</beans>

<!-- 
ENVIRONMENT: indicates placeholders should be resolved against the current Environment and against any local properties. This is the default.
NEVER : this will never check the system properties.
FALLBACK : [default] this will check system properties if no property could be found in the specified properties file.
OVERRIDE : this will check system properties first, if no suitable system property is found then it’ll search in the specified properties file.
-->